<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Haichao Zhu</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/item.css">
    </head>
    <body id="app">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Haichao Zhu</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="NavbarCollapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="index.html#EXPERIENCE">Experience</a>
                        </li>
                        <li>
                            <a href="index.html#PROJECTS">Projects</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="h1">Magnetic Levitation<br>
                    <small>Haichao Zhu, Yuntao Wang, Liyuan Wang, Jiayu Long, Shuang He</small>
                    </h3>
                    <hr class="thin-hr"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner" role="listbox">
                            <div v-for="item in items" v-bind:class="$index==0?'active':''" class="item" index="``$index``">
                                <img class="carouselphoto" v-bind:src="item.img" alt="...">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="row">
                        <h4 class="phototitle">``items[select_index].title``</h4>
                        <h5 class="photodetail">``items[select_index].detail``</h5>
                    </div>
                </div>
                <div class="col-md-5">
                    <h4>Project Description</h4>
                    <p>This system is composed of four magnetic levitation systems. Each of them plays one of the Bass, Guitar, Drum and Vocal tracks respectively. User can interact with each of them to switch the track and play a special sound effect. The LED circle display the color corresponding with the music.
                    <h4>Implementation</h4>
                        Each of the ML system consists of a big cycle permanent magnetic for pushing the floated magnetic up, two perpendicular hall sensor for detecting the flex of the floated magnetic, four copper coils and the circuits for adjusting the posture of the floated magnetic to keep it at the center of the flex field and a circle of the LED for displaying.
                    </p>
                    <h4>Related Information</h4>
                    <p>This project is for a US-China maker competition. We were a team of five.<br> I was working on hardware and others are working on software and appearance design.<br>
                        The hardware was completely working and the interaction software was partially working.<br>
                    This project won a $5000 prize and featured by several presses.</p>
                </div>
            </div>
            <hr>
            <div class="row thin-box">
                <div class="col-md-12 thin-img">
                    <div v-for="item in items" class="col-md-3">
                        <img class="thumbnail thumbnailphoto" v-bind:src="item.img" v-on:click="clickThumbnail($index,item)">
                        <figcaption><h5><b>``item.title``</b></h5> </figcaption>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Haichao Zhu<br>
                Updated: 11/2016<br>
                I don't know what's gonna happen in IE. Please use Chrome. :-)</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>
        </div>
        <script type="text/javascript">
        var items = [
        {
        "img": "img/ML/ML1.png",
        "title": "Device Structure",
        "detail": "The structure of a single magnetic levitation system. The hall sensors detects the posture change of the floated CD."
        },
        {
        "img": "img/ML/ML2.png",
        "title": "Interaction",
        "detail": "Put the CD to start playing the track. Pitch the CD to swtich to next track. Press the CD to trigger a sound effect."
        },
        {
        "img": "img/ML/ML3.png",
        "title": "Magnetic Levitation",
        },
        {
        "img": "img/ML/ML4.png",
        "title": "Elsa on the CD",
        },
        {
        "img": "img/ML/ML5.png",
        "title": "LED Circle",
        "detail": "The color of the LED circle is changed correspondingly with the music on the track."
        },
        {
        "img": "img/ML/ML6.png",
        "title": "Magnetic Levitation",
        },
        {
        "img": "img/ML/ML7.png",
        "title": "Magnetic Levitation",
        },
        ];
        </script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/vue.min.js"></script>
        <script src="js/item.js"></script>
    </body>
</html>