.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-content: center
}

.social li {
    float: left;
    padding-right: 16px;
    padding-left: 0px;
}

.social li a {
    cursor: pointer;
}

.social li a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}