<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Haichao Zhu</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/item.css">
</head>
<body id="app">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Haichao Zhu</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="NavbarCollapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html#EXPERIENCE">Experience</a>
                </li>
                <li>
                    <a href="index.html#PROJECTS">Projects</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="h1">RubFinger: A Wristworn Controller that Detects Aerial Rubbing Actions by Bare Fingers<br>
                <small>Haichao Zhu, Fukumoto Masaaki</small>
            </h3>
            <hr class="thin-hr"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div id="carousel-example-generic" class="carousel slide vertical-container" data-ride="carousel"
                 data-interval="false">
                <div class="carousel-inner" role="listbox">
                    <div v-for="item in items" v-bind:class="$index==0?'active':''" class="item" index="``$index``">
                        <div v-if="item.video" class="carouselphoto">
                            <video style="width:100%;height:100%" controls>
                                <source v-bind:src="item.video" type="video/mp4">
                            </video>
                        </div>
                        <img class="carouselphoto" v-else v-bind:src="item.img" alt="...">
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="row detail-text">
                <h4 class="phototitle">``items[select_index].title``</h4>
                <h5 class="photodetail">``items[select_index].detail``</h5>
            </div>
        </div>
        <div class="col-md-5">
            <h4>Abstract</h4>
            <p>RubFinger is a novel device that can realize full-time wearable input by detecting aerial rubbing and
                tapping gestures of the thumb and index fingers. It uses only one small contact microphone mounted on
                the wrist; nothing needs to be attached on the hand or fingers. Therefore it does not interfere with
                daily life activities. A Hidden Markov Model (HMM) based classifier can recognize two rubbing gestures
                of UP and DOWN, as well as a tapping gesture of TAP with an accuracy of 97.3% under user dependent
                conditions. The "true one hand" operation is also realized when RubFinger is combined with wrist mounted
                wearables such as smartwatches.</p>
            <h4>Related Information</h4>
            <p>This paper was completed by me and advised by Fukumoto san. The paper of this project was <b>rejected</b>
                by CHI2015.</p>
        </div>
    </div>
    <hr>
    <div class="row thin-box">
        <div class="col-md-12 thin-img">
            <div v-for="item in items" class="col-md-3">
                <img class="thumbnail thumbnailphoto" v-bind:src="item.img" v-on:click="clickThumbnail($index,item)">
                <figcaption><h5><b>``item.title``</b></h5> </figcaption>
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Haichao Zhu<br>
                Updated: 11/2016<br>
                I don't know what's gonna happen in IE. Please use Chrome. :-)</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<script type="text/javascript">
    var items = [
        {
            "img": "img/GI/GI0.png",
            "title": "Grooves on the Finger Skin",
            "detail": "Because of these grooves, distinguished sounds are generated when rubbing fingers in different ways."
        },
        {
            "video": "img/GI/GI1.mp4",
            "img": "img/GI/GI1.png",
            "title": "Video",
            "detail":"video"
        },
        {
            "img": "img/GI/GI2.png",
            "title": "Sounds Transfer Path",
            "detail": "Sounds are transfered from finger to the wrist position through the bone."
        },
        {
            "img": "img/GI/GI3.png",
            "title": "Device Components",
            "detail": "The device is composed of a tiny contact microphone and a hacked usb sound adapter which can be connected to the PC directly."
        },
        {
            "img": "img/GI/GI4.png",
            "title": "Interaction",
            "detail": "The finger rubbing gesture is used as input and small display screen as output."
        },
    ];
</script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/item.js"></script>
</body>
</html>